.login .logo {
  margin: 0 auto;
  margin-top: 60px;
  padding: 15px;
  text-align: center;
}

.login {
  background-color: #666 !important;
}

.login .content {
  /* background: url(../img/bg-white-lock.png) repeat;
  background-image: url(../img/bg-white-lock.png);
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: repeat;
  background-repeat-y: repeat;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial; */
  width: 360px;
  margin: 0 auto;
  margin-bottom: 0px;
  padding: 20px;
  padding-top: 20px;
  padding-bottom: 15px;
}

.form-check-label {
  color: white;
}

.copyright {
  color: white;
  margin: 0 auto;
  margin-top: 5px;
  padding: 15px;
  text-align: center;
}

.span {
  color: white;
}

/* Admin.php */

.table>tbody>tr>* {
  vertical-align: middle;
}

.table {
  text-align: center;
}

/* Registrasi.php */
.registrasi .gambar {
  color: white;
  margin: 0 auto;
  margin-top: 20px;
  padding: 15px;
  text-align: center;
}

.registrasi {
  background-color: #666 !important;
}

.registrasi .content {
  color: white;
  width: 360px;
  margin: 0 auto;
  margin-bottom: 0px;
  padding: 50px;
  padding-top: 20px;
  padding-bottom: 15px;
}